.baseColor {
  color: #f01414;
}
.layer .video_header {
  position: relative;
}
.layer .video_header > i {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 3%;
}
.layer .video_header > .video_play {
  width: 100%;
  height: 4rem;
  overflow: hidden;
}
.layer .video_header > .video_play > img {
  width: 100%;
}
.layer .main {
  width: 100%;
  padding: 0.3rem;
}
.layer .main .request {
  padding: 0;
}
.layer .main #fix_share {
  position: fixed;
  right: 0%;
  bottom: 15%;
  width: 1.2rem;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
}
.layer .main #fix_share > div:first-of-type {
  margin-top: 0.3rem;
}
.layer .main #fix_share > div em,
.layer .main #fix_share > div span {
  display: block;
  text-align: center;
  margin-bottom: 0.1rem;
  font-size: 0.3rem;
}
.layer .main #fix_share > div em {
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.5rem;
}
.layer .main > .index_video {
  width: 100%;
}
.layer .main > .index_video > div {
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
  width: 80%;
  display: inline-block;
}
.layer .main > .index_video > div > .mui-segmented-control > a {
  height: 100%;
  line-height: 0.88rem;
  width: 100%;
}
.layer .main > .index_video > div > .mui-segmented-control > a.mui-active > span {
  border-bottom: 2px solid #f01414;
}
.layer .main > .index_video > .fix_more {
  position: absolute;
  top: 10%;
  font-size: 0.5rem;
  height: 0.6rem;
  width: 0.6rem;
  border: 1px solid #999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
