<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>回答详情</title>
    <link rel="stylesheet" href="../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../css/mui_img.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/iconfont.css"/>
    <link rel="stylesheet" href="../../css/header.css"/>
    <link rel="stylesheet" href="../../css/index/quest_detail.css"/>
</head>
<body style="background-color:#fff; overflow-x: hidden">
<div class="layer">
    <header id="header" class="mui-bar mui-bar-nav">
        <i class=" mui-icon mui-icon-left-nav mui-pull-left" onclick="back()"></i>
        <h1 class="mui-title">详情</h1>
        <em onclick="location.href='./report.html'">举报</em>
    </header>
    <div class="main">
        <!-- <div class="request_detail">
             <div class="request_tit">
                 <h3 class="clearfix">6的平方等于多少？<del class="f_right">+关注</del></h3>
                 <div class="qu_bottom clearfix">
                     <div class="bo_left">
                         <em class="iconfont icon-wode1"></em>赵英俊
                         <i class="iconfont icon-huangguan"></i>15积分&nbsp;&nbsp;
                         <span>来自：<s>2018年初二数学上期</s></span>
                     </div>
                 </div>
             </div>
             <div class="pretty_request">
                 非负数a的非负平方根叫做a的算术平方根.
                 平方根,又叫二次方根,对于非负实数来说,是指某个自乘结果等于的实数,表示为(√x),其中属于非负实数的平方根称算术平方根.
                 6的算术平方根=√6
             </div>
             <div class="img_cover">
                 <div class="img_box">
                     <img src="../../img/focus-img1.png" data-preview-src="" data-preview-group="1" alt=""/>
                 </div><div class="img_box">
                     <img src="../../img/focus-img1.png" data-preview-src="" data-preview-group="1" alt=""/>
                 </div><div class="img_box">
                     <img src="../../img/focus-img1.png" data-preview-src="" data-preview-group="1" alt=""/>
                 </div>
             </div>

             <div class="pretty_result">
                 <span>共5个回答，已采纳2个回答</span>
                 <em>问题已解决</em>
             </div>
         </div>
         <div class="request_lists">
                 <div class="list_quest">
                     <div class="quest_tit">
                         <img src="../../img/focus-img1.png" alt=""/>
                         <div class="quest_tit_center clearfix">
                             <em>阳光</em>
                             <i>30分钟前</i>
                         </div>
                     </div>
                     <div class="quest_center">
                         非负数a的非负平方根叫做a的算术平方根.
                         平方根,又叫二次方根,对于非负实数来说,是指某个自乘结果等于的实数,表示为(√x),其中属于非负实数的平方根称算术平方根.
                         6的算术平方根=√6
                     </div>
                     <div class="img_cover">
                         <div class="img_box">
                             <img src="../../img/focus-img1.png" data-preview-src="" data-preview-group="1" alt=""/>
                         </div><div class="img_box">
                         <img src="../../img/focus-img1.png" data-preview-src="" data-preview-group="1" alt=""/>
                     </div><div class="img_box">
                         <img src="../../img/focus-img1.png" data-preview-src="" data-preview-group="1" alt=""/>
                     </div>
                     </div>
                     <div class="quest_center_footer clearfix">
                             <del class="iconfont icon-dianzan"></del>999+
                             <em class="iconfont icon-cai"></em>0
                             <s class="iconfont icon-xiaoxi"></s>99+
                         <span class="f_right" >+ 采纳</span>
                     </div>
                 </div>

         </div>
         <div class="response">
             <input type="text" placeholder="我要回答" class="mine_request"/>
             <span>
                 <em class="iconfont icon-xin"> 999+</em>
                 <del class="iconfont icon-zhuanfa"></del>
             </span>
         </div>-->
    </div>
</div>
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/mui.zoom.js"></script>
<script src="../../js/mui.preview.js"></script>
<script src="../../js/x_rem.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/back.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<script type="text/html" id="detail">
    <div class="request_detail">
        <div class="request_tit">
            <h3 class="clearfix">{{data.questions.title}}
                <!--是否关注-->
                {{if data.WhetherAttentQuestion==false}}
                <del class="f_right att">+关注</del>
                {{else}}
                <del class="f_right att">取消关注</del>
                {{/if}}
            </h3>
            <div class="qu_bottom clearfix">
                <div class="bo_left">
                    <em class="iconfont icon-wode1"></em>{{data.questionuser.nickname==null?data.questionuser.realName==null?"猴姆教学":data.questionuser.realName:data.questionuser.nickname}}
                    <i class="iconfont icon-huangguan"></i>{{data.questions.reward}}积分&nbsp;&nbsp;
                    <span>来自：<s>{{data.CourseName}}</s></span>
                </div>
            </div>
        </div>
        <div class="pretty_request">
            {{data.questions.body}}
        </div>
        <div class="img_cover">
            {{if data.questions.picture==null||data.questions.picture==""}}

            {{else}}
            {{each str(data.questions.picture) as value i}}
            <div class="img_box">
                <img src="{{value}}" data-preview-src="" data-preview-group="1" alt=""/>
            </div>
            {{/each}}
            {{/if}}
        </div>

        <div class="pretty_result">
            <span>共{{data.answerNum}}个回答，已采纳{{data.AdoptAnswerNum}}个回答</span>
            {{if data.AdoptAnswerNum==0}}
            <em>问题未解决</em>
            {{else}}
            <em>问题已解决</em>
            {{/if}}
        </div>
    </div>
    <div class="request_lists">
        {{if data.AnswerList.length==0}}
        <div class="no_in">对不起，暂时还没有人回答</div>
        {{else}}
        {{each data.AnswerList as list i }}
        <div class="list_quest">
            <div class="quest_tit">
                <img src="{{list.answerUser.portrait==null?'../../img/logo.png':list.answerUser.portrait}}" alt=""/>
                <div class="quest_tit_center clearfix">
                    <em>{{list.answerUser.nickname==null?list.answerUser.realName==null?"猴姆教学":list.answerUser.realName:list.answerUser.nickname}}</em>
                    <i>{{time(list.answer.updaeTime)}}</i>
                </div>
            </div>
            <div class="quest_center">
                {{list.answer.body}}
            </div>

            <div class="quest_center_footer clearfix">
                {{if list.whetherSupport==0 }}
                <del class="iconfont icon-dianzan" data-answerid="{{list.answer.id}}"></del>{{list.SupportNum}}
                <em class="iconfont icon-cai" data-answerid="{{list.answer.id}}"></em>{{list.NotSupportNum}}
                {{else if list.whetherSupport==1}}
                <del class="iconfont icon-dianzan active" data-answerid="{{list.answer.id}}"></del>{{list.SupportNum}}
                <em class="iconfont icon-cai" data-answerid="{{list.answer.id}}"></em>{{list.NotSupportNum}}
                {{else if list.whetherSupport==-1}}
                <del class="iconfont icon-dianzan " data-answerid="{{list.answer.id}}"></del>{{list.SupportNum}}
                <em class="iconfont icon-cai active" data-answerid="{{list.answer.id}}"></em>{{list.NotSupportNum}}
                {{/if}}
                <s class="iconfont icon-xiaoxi" data-answerid="{{list.answer.id}}"></s>{{list.CommentAnswerNum}}+
                {{if list.answer.status==1}}
                <span class="f_right support" data-adoptId="{{list.answer.id}}" >+ 采纳</span>
                {{else}}
                <span class="f_right support" data-adoptId="{{list.answer.id}}">已采纳</span>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{/if}}

    </div>
    <div class="response">
        <input type="text" placeholder="我要回答" class="mine_request"/>
            <span>
                <em class="iconfont icon-xin"> {{data.answerNum}}+</em>
              <!--  <del class="iconfont icon-zhuanfa"></del>-->
            </span>
    </div>
</script>
<script>
    $(function () {
        mui.previewImage();
        mui.init();
        mui('body').on('tap','a',function(){document.location.href=this.href;});
        var requestId=location.href.split("=")[1];
        var userId=localStorage.getItem("this_userid");
        //onfocus="location.href='./my_want_request.html'"
        $(".layer").on("focus",".response>input", function () {
            location.href='./my_want_request.html?id='+requestId;
        })
        render();
        function render(){
            myAjax({url:'/Question/and/Answer/get/Question/Details',
                data:{questionid:requestId,
                    userid:userId
                },
                type:"post"
            }, function (data) {
                console.log(data);
                if(data.status==200){
                    template.helper("str", function (str) {
                        return str.split(",")
                    })
                    template.helper("time",function(time){
                        var timestamp=new Date().getTime();//当前时间戳
                        var kk=timestamp-time;//发表时的时间戳
                        var timea="";
                        var sec=parseInt(kk/1000);//秒
                        var min=parseInt(sec/60);//分
                        var hour=parseInt(min/60);//时
                        var day=parseInt(hour/24);//天
                        if(sec<60){
                            timea=sec+"秒前";
                        }else if(min<60){
                            timea=min+"分钟前";
                        }else if(hour<24){
                            timea=hour+"小时前";
                        }else if(day<7){
                            timea=day+"天前";
                        }else{
                            timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,11).replace("/","-");
                        }
                        return timea;

                    });

                    $(".main").html(template("detail",data))
                }
            })
        }
        //关注问题
        $(".main").on("click",".att", function () {
            attention(this);
        })
        function attention(e){
            myAjax({url:"/Question/and/Answer/update/Attent/Question",
                data:{questionid:requestId,
                    userid:userId},type:"post"}, function (data) {
                console.log(data);
                if(data.status==200){
                    //判断 返回值的
                    if(data.data==true){
                        $(e).text("取消关注")
                    }else{
                        $(e).text("+ 关注")
                    }
                }
            })
        }
        //点击赞一下
        $(".main").on("click",".icon-dianzan",function () {
            var id=$(this).data("answerid");
            hand("/Question/and/Answer/update/Support/Answer",id);
        })
        //回踩 /Question/and/Answer/update/NotSupport/Answer
        $(".main").on("click",".icon-cai",function () {
            var id=$(this).data("answerid");
            hand("/Question/and/Answer/update/NotSupport/Answer",id);
        })
        function hand(url,id){
            myAjax({url:url,
                data:{answerid:id,
                    userid:userId},type:"post"}, function (data) {
                console.log(data);
                if(data.status==200){
                    render()
                }
            })
        }
        //采纳 答案
        $(".main").on("click",".support", function () {
            var id=$(this).data("adoptid");
            console.log(id);
            adopt(id,this);
        })
        function adopt(id,e){
        myAjax({url:"/user/my/update/Adopt/Answer",data:{answerid:id},type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
            $(e).text("已采纳");
            }
        })
        }
    })
</script>
</html>