<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>发现页面</title>
    <link rel="stylesheet" href="../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../css/mui_img.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/iconfont.css"/>
    <link rel="stylesheet" href="../../css/find/find_dynamic.css"/>

</head>
<body style="background-color:#fff;">
<div id="loading">
    <img src="../../img/login.gif" alt=""/>
    <div>请等待，正在加载...</div>
</div>
<div class="layer">
    <header class="header_list">
        <span>
            <a href="javascript:;" class="active f_left">
                <del> <em class="iconfont icon-dongtaixuanzhong" ></em></del>
                <s>动态</s>
            </a>
            <a href="./find_request.html" class="f_left">
                <del><em class="iconfont icon-9" ></em></del>
                <s>问答</s>
            </a>
        </span>
        <em class="mui-icon mui-icon-search"></em>
    </header>
    <div class="main">
        <div id="slider" class="mui-slider ">
            <div style="padding: 0px 10px;">
                <div id="segmentedControl" class="mui-segmented-control">
                    <a class="mui-control-item mui-active" href="#item1">
                       <span>全部</span>
                    </a>
                    <a class="mui-control-item" href="#item2">
                        <span>关注</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main_center">
            <div class="submit" id="submit" onclick="location.href='../publish/publish_dynamic.html'">
                <em></em>
            </div>
            <div>
                <!--全部-->
                <div id="item1" class="mui-control-content mui-active">
                  <div class="All_lists">
                    <!--  <div class="All_list" onclick="location.href='../index/see_more_comment.html'">
                          <div class="list_top">
                              <img src="../../img/focus-img1.png" alt=""/>
                              <div class="list_top_center clearfix">
                                  <em>傅娟 <del>已关注</del> <s class="f_right">1小时前</s></em>
                                  <p>华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学数学教师</p>
                              </div>
                          </div>
                          <div class="list_content clearfix" >
                              <div class="tit">
                                  明天开始新的一章数学学习，同学们做好预习哦
                              </div>
                              <div class="imgs">
                                  &lt;!&ndash;注意类名 可能会与关注页面 重复&ndash;&gt;
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                              </div>
                          </div>
                          <div class="list_content_footer clearfix">
                              <ul class="clearfix">
                                  <li>浏览123次</li>
                                  <li><em class="iconfont icon-zhuanfa">120</em></li>
                                  <li><em class="iconfont icon-xiaoxi">20</em></li>
                                  <li><em class="iconfont icon-like">150</em></li>
                              </ul>
                              <div class="comment_box">
                                  &lt;!&ndash;判断有没有回复人 渲染出来两句回复就可以了&ndash;&gt;
                                  <p>
                                      <i>魏雨</i>&nbsp;:&nbsp;&nbsp;
                                      真是一个真实一个爱学习的孩子啊！真实一个爱学习的孩子啊！  真是一个真实一个爱学习的孩子啊！真实一个爱学习的孩子啊！
                                  </p>
                                  <p>
                                  <i>亚楠</i>&nbsp;&nbsp;回复
                                  <s>傅娟</s>&nbsp;&nbsp;:&nbsp;&nbsp;哈哈，谢谢夸奖
                                 </p>
                                  <div class="more" onclick="location.href='../index/see_more_comment.html'">查看更多回复>></div>
                              </div>
                          </div>
                      </div>
                      <div class="focus_list All_list" onclick="location.href='../index/see_more_comment.html'" >
                          <div class="list_top">
                              <img src="../../img/focus-img1.png" alt=""/>
                              <div class="list_top_center clearfix">
                                  <em>傅娟  <i class="f_right">+关注</i></em>
                                  <p>华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学数学教师</p>
                              </div>
                          </div>
                          <div class="list_content clearfix" >
                              <div class="tit">
                                  明天开始新的一章数学学习，同学们做好预习哦
                              </div>
                              <div class="imgs">
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                                  <div class="img_box">
                                      <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                  </div>
                              </div>
                          </div>
                          <div class="list_content_footer clearfix">
                              <ul class="clearfix">
                                  <li>浏览123次</li>
                                  <li><em class="iconfont icon-zhuanfa"></em>120</li>
                                  <li><em class="iconfont icon-xiaoxi"></em>20</li>
                                  <li><em class="iconfont icon-like"></em>150</li>
                              </ul>
                              <div class="comment_box">
                                  &lt;!&ndash;判断有没有回复人&ndash;&gt;
                                  <p>
                                      <i>魏雨</i>&nbsp;:&nbsp;&nbsp;
                                      真是一个真实一个爱学习的孩子啊！真实一个爱学习的孩子啊！  真是一个真实一个爱学习的孩子啊！真实一个爱学习的孩子啊！
                                  </p>
                                  <p>
                                      <i>亚楠</i>&nbsp;&nbsp;回复
                                      <s>傅娟</s>&nbsp;&nbsp;:&nbsp;&nbsp;哈哈，谢谢夸奖
                                  </p>
                                  <div class="more" onclick="location.href='../index/see_more_comment.html'">查看更多回复>></div>
                              </div>
                          </div>
                      </div>
                      -->
                  </div>
                </div>
                <div id="item2" class="mui-control-content">
                    <div class="main_center focus_center">

                       <!-- <div class="focus_lists All_lists">
                            <div class="focus_list All_list" onclick="location.href='../index/see_more_comment.html'" >
                                <div class="list_top">
                                    <img src="../../img/focus-img1.png" alt=""/>
                                    <div class="list_top_center clearfix">
                                        <em>傅娟  <i class="f_right">已关注</i></em>
                                        <p>华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学数学教师</p>
                                    </div>
                                </div>
                                <div class="list_content clearfix" >
                                    <div class="tit">
                                        明天开始新的一章数学学习，同学们做好预习哦
                                    </div>
                                    <div class="imgs">
                                        <div class="img_box">
                                            <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                        </div>
                                        <div class="img_box">
                                            <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                        </div>
                                        <div class="img_box">
                                            <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                        </div>
                                        <div class="img_box">
                                            <img src="../../img/focus-img1.png" alt="" data-preview-src="" data-preview-group="1"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="list_content_footer clearfix">
                                    <ul class="clearfix">
                                        <li>浏览123次</li>
                                        <li><em class="iconfont icon-zhuanfa"></em>120</li>
                                        <li><em class="iconfont icon-xiaoxi"></em>20</li>
                                        <li><em class="iconfont icon-like"></em>150</li>
                                    </ul>
                                    <div class="comment_box">
                                        &lt;!&ndash;判断有没有回复人&ndash;&gt;
                                        <p>
                                            <i>魏雨</i>&nbsp;:&nbsp;&nbsp;
                                            真是一个真实一个爱学习的孩子啊！真实一个爱学习的孩子啊！  真是一个真实一个爱学习的孩子啊！真实一个爱学习的孩子啊！
                                        </p>
                                        <p>
                                            <i>亚楠</i>&nbsp;&nbsp;回复
                                            <s>傅娟</s>&nbsp;&nbsp;:&nbsp;&nbsp;哈哈，谢谢夸奖
                                        </p>
                                        <div class="more" onclick="location.href='../index/see_more_comment.html'">查看更多回复>></div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--页脚-->
    <div id="footer">
    </div>
</div>
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/mui.zoom.js"></script>
<script src="../../js/mui.preview.js"></script>
<script src="../../js/x_rem.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<script id="Alldy" type="text/html">
<!--全部-->
{{if data==null||data.length==0}}
<div class="no_in">对不起，暂时没有动态</div>
{{else}}
{{each data as value i}}
<div class="All_list" data-parid="{{value.user.userid}}">
    <!--判断是否关注-->
    {{if value.WhetherAttentionUser==false}}
    <!--未关注-->
    <div class="list_top">
        {{if value.user.portrait==null}}
        <img src="../../img/logo.png" alt=""/>
        {{else}}
        <img src="{{value.user.portrait}}" alt=""/>
        {{/if}}
        <div class="list_top_center clearfix">
            <em>{{value.user.nickname==null?value.user.realName==null?"猴姆教学":value.user.realName:value.user.nickname}}
                <s class="nowtime">{{time(value.dynamic.updateTime)}}</s>
                <i class="f_right attention" onclick="attention('{{value.user.userid}}',this)">+关注</i>
            </em>
            <p>{{value.school==null?"暂未完善学校":value.school}}</p>
        </div>
    </div>
    {{else}}
    <!--已关注-->
    <div class="list_top">
        {{if value.user.portrait==null}}
        <img src="../../img/logo.png" alt=""/>
        {{else}}
        <img src="{{value.user.portrait}}" alt=""/>
        {{/if}}
        <div class="list_top_center clearfix">
            <em>{{value.user.nickname==null?value.user.realName==null?"猴姆教学":value.user.realName:value.user.nickname}}
                <s class="nowtime">{{time(value.dynamic.updateTime)}}</s>
                <i class="f_right attention" onclick="attention('{{value.user.userid}}',this)">已关注</i> </em>
            <p>{{value.school==null?"暂未完善学校":value.school}}</p>
        </div>
    </div>
    {{/if}}
    <div class="list_content clearfix" onclick="location.href='../index/see_more_comment.html?dynamicid={{value.dynamic.id}}'">
        <div class="tit">
           {{value.dynamic.body}}
        </div>
        <div class="imgs">
            <!--注意类名 可能会与关注页面 重复-->
            <!--判断有没有图片-->
            {{if value.dynamic.picture==null||value.dynamic.picture==""}}
            {{else}}
            {{each str(value.dynamic.picture) as img k}}
            <div class="img_box">
                <img src="{{img}}" alt="" data-preview-src="" data-preview-group="{{i}}"/>
            </div>
            {{/each}}
            {{/if}}
            </div>
        </div>
    <div class="list_content_footer clearfix" >
        <ul class="clearfix">
            <li>浏览{{value.dynamic.previewNum}}次</li>
            <li><em class="iconfont icon-zhuanfa"> 120</em></li>
            <li><em class="iconfont icon-xiaoxi" onclick="location.href='../index/see_more_comment.html?dynamicid={{value.dynamic.id}}'"> {{value.commentNum}}</em></li>
            <!--判断是否点赞-->
            {{if value.love.是否点赞 =="否"}}
            <li class="hand" data-id='{{value.dynamic.id}}'><em class="iconfont icon-like"> {{value.love.点赞总数}}</em></li>
            {{else}}
            <li  class="hand" data-id='{{value.dynamic.id}}'><em class="iconfont icon-like is_hand"> {{value.love.点赞总数}}</em></li>
            {{/if}}
        </ul>
        {{if value.commentNum !==0}}
        <div class="comment_box">
            <!--判断有没有回复人 渲染出来两句回复就可以了-->
            {{each value.someComments as value i}}
            <!--回复的动态-->
            {{if value.publisher}}
            <p>
                <i>{{value.publisher}}</i>&nbsp;:&nbsp;&nbsp;
                {{value.body}}
            </p>
            {{else}}
            <p  class="son">
                <i>{{value.reply}}</i>&nbsp;&nbsp;回复
                <s>{{value.replyTo}}</s>&nbsp;&nbsp;:&nbsp;&nbsp;{{value.body}}
            </p>
            {{/if}}
            <!--回复的是个人 回复的动态-->
            <!--回复的个人-->
            {{/each}}

            <div class="more" onclick="location.href='../index/see_more_comment.html?dynamicid={{value.dynamic.id}}'">查看更多回复>></div>
        </div>
        {{/if}}
    </div>
</div>
{{/each}}
{{/if}}
</script>
<script id="AttentionUser" type="text/html">
    {{if data==null||data.length==0}}
    <div class="no_in">对不起，暂时没有动态</div>
    {{else}}
    {{each data as value i}}
    <div class="focus_lists All_lists">
        <div class="focus_list All_list"  >
            <div class="list_top">
                {{if value.user.portrait==null}}
                <img src="../../img/logo.png" alt=""/>
                {{else}}
                <img src="{{value.user.portrait}}" alt=""/>
                {{/if}}
                <div class="list_top_center clearfix">
                    <em>{{value.user.nickname==null?value.user.realName==null?"猴姆教学":value.user.realName:value.user.nickname}} <!--<i class="f_right" onclick="attention('{{value.user.userid}}',this)" >已关注</i>--></em>
                    <p>{{value.school==null?"暂未完善学校":value.school}}</p>
                </div>
            </div>
            <div class="list_content clearfix" onclick="location.href='../index/see_more_comment.html?dynamicid={{value.dynamic.id}}'">
                <div class="tit">
                    {{value.dynamic.body}}
                </div>
                <div class="imgs">
                    <!--注意类名 可能会与关注页面 重复-->
                    <!--判断有没有图片-->
                    {{if value.dynamic.picture==null||value.dynamic.picture==""}}
                    {{else}}
                    {{each str(value.dynamic.picture) as img k}}
                    <div class="img_box">
                        <img src="{{img}}" alt="" data-preview-src="" data-preview-group="{{i}}"/>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="list_content_footer clearfix" >
                <ul class="clearfix">
                    <li>浏览{{value.dynamic.previewNum}}次</li>
                    <li><em class="iconfont icon-zhuanfa"> 120</em></li>
                    <li><em class="iconfont icon-xiaoxi" onclick="location.href='../index/see_more_comment.html?dynamicid={{value.dynamic.id}}'"> {{value.commentNum}}</em></li>
                    <!--判断是否点赞-->
                    {{if value.love.是否点赞 =="否"}}
                    <li class="hand" data-id='{{value.dynamic.id}}'><em class="iconfont icon-like"> {{value.love.点赞总数}}</em></li>
                    {{else}}
                    <li  class="hand" data-id='{{value.dynamic.id}}'><em class="iconfont icon-like is_hand"> {{value.love.点赞总数}}</em></li>
                    {{/if}}
                </ul>
                {{if value.commentNum !==0}}
                <div class="comment_box">
                    <!--判断有没有回复人 渲染出来两句回复就可以了-->
                    {{each value.someComments as value i}}
                    <!--回复的动态-->
                    {{if value.publisher}}
                    <p>
                        <i>{{value.publisher}}</i>&nbsp;:&nbsp;&nbsp;
                        {{value.body}}
                    </p>
                    {{else}}
                    <p class="son">
                        <i>{{value.reply}}</i>&nbsp;&nbsp;回复
                        <s>{{value.replyTo}}</s>&nbsp;&nbsp;:&nbsp;&nbsp;{{value.body}}
                    </p>
                    {{/if}}
                    <!--回复的是个人 回复的动态-->
                    <!--回复的个人-->
                    {{/each}}

                    <div class="more" onclick="location.href='../index/see_more_comment.html?dynamicid={{value.dynamic.id}}'">查看更多回复>></div>
                </div>
                {{/if}}
                </div>

        </div>
    </div>
    {{/each}}
    {{/if}}
</script>
<script>
    (function($, doc) {
        $.init();
        $.plusReady(function() {
            var backButtonPress = 0;
            $.back = function(event) {
                backButtonPress++;
                if (backButtonPress > 1) {
                    plus.runtime.quit();
                } else {
                    plus.nativeUI.toast('再按一次退出应用');
                }
                setTimeout(function() {
                    backButtonPress = 0;
                }, 1000);
                return false;
            };
        });
    }(mui, document));
    /*关注*/
    var userId=localStorage.getItem("this_userid");
    console.log(userId);
    function attention(id,e){
        myAjax({url:"/dynamic/update/Attention/User",data:{"fansId":userId,"beFocusedUserid":id},async:false,type:"post"}, function (data) {
            if(data.status==200){
                //已经关注了
                if(data.data.attention==true){
                    $(e).text("已关注");
                    location.href='./find_dynamic.html';
                  /*  var ele=$(e).parents().parents().parents().parents().siblings().data("parid");
                    console.log(ele);
                    var str=$(e).parents().parents().parents().parents().data("parid");
                   if(str==ele){
                       $(e).parents().parents().parents().parents().siblings().children().children().children().children().children().text("已关注");
                   }
                    console.log(str);*/
                }else{
                    $(e).text("+关注")
                    location.href='./find_dynamic.html';
                }
            }
        })
    }
    $(function () {
        //ajax 发送完毕
        $(document).ajaxStop(function(){
            $("#loading").hide();
        });
        mui.previewImage();
        mui('body').on('tap','a',function(){document.location.href=this.href;});
        $('#footer').load('../common/footer.html');
        setTimeout(function () {
            $(".mui-bar-tab>a:nth-of-type(3)").addClass("mui-active");
        },100);
        $(".near_header>em").click(function () {
            alert( 1);
        })
        $('#scroll').scroll({
            indicators: true //是否显示滚动条
        });

        var segmentedControl = document.getElementById('segmentedControl');
        $('.mui-input-group').on('change', 'input', function() {
            if (this.checked) {
                var styleEl = document.querySelector('input[name="style"]:checked');
                var colorEl = document.querySelector('input[name="color"]:checked');
                if (styleEl && colorEl) {
                    var style = styleEl.value;
                    var color = colorEl.value;
                    segmentedControl.className = 'mui-segmented-control' + (style ? (' mui-segmented-control-' + style) : '') + ' mui-segmented-control-' + color;
                }
            }
        });
        /*点击搜索 框*/
        $(".layer > .header_list > em").click(function () {
            location.href='../index/search.html';
        })
/* 发布 动态 首先要 把个人信息的id 存起来*/
        /*通过 token 查询用户信息接口*/
        var token=localStorage.getItem("token");
        myAjax({url:`/user/token/${token}`,type:'post',async:false}, function (data) {
        console.log(data);
        if (data.status==200){
            localStorage.setItem("this_userid",data.data.userid);

        }
    })

    /* 获取全部的动态 */
    function dynamic(page,size,userId){
        myAjax({url:"/dynamic/get/Dynamic/List",data:{size:size,page:page,userId:userId},type:"post",async:false},function(data){
            console.log(data);
            if(data.status==200){
                template.helper("str",function(str){

                    return str.split(",");
                })
                template.helper("time",function(time){
                    var timestamp=new Date().getTime();//当前时间戳
                    var kk=timestamp-time;//发表时的时间戳
                    var timea="";
                    var sec=parseInt(kk/1000);//秒
                    var min=parseInt(sec/60);//分
                    var hour=parseInt(min/60);//时
                    var day=parseInt(hour/24);//天
                   if(sec<60){
                        timea=sec+"秒前";
                    }else if(min<60){
                        timea=min+"分钟前";
                    }else if(hour<24){
                        timea=hour+"小时前";
                    }else if(day<7){
                        timea=day+"天前";
                    }else{
                        timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,11).replace("/","-");
                    }
                    return timea;

                });

                $("#item1>.All_lists").html(template("Alldy",data));
                //点赞
                $(".hand").click(function () {
                    var id=$(this).data("id");
                    console.log(id);
                    loveDynamic(id,this);
                })
            }
        })

    }
    dynamic(1,3,localStorage.getItem("this_userid"));
    /*   function loadmore()*/
    //(element,url,userId,successFn)

    loadmore( $('.main'),'/dynamic/get/Dynamic/List',localStorage.getItem("this_userid"),function (data) {
        console.log(data);
        if(data.status==200){
            $('#item1>.All_lists').append(template("Alldy",data));
            //点赞
            $(".hand").click(function () {
                var id=$(this).data("id");
                console.log(id);
                loveDynamic(id,this);
            })
        }


    });

    /*点赞*/
    function loveDynamic(id,e){
        myAjax({url:"/dynamic/update/Love/Dynamic",data:{"userid":userId,"dynamicid":id},type:"post",async:false}, function (data) {
            console.log(data);
            if(data.status==200){
                if(data.data.love.是否点赞=="否"){
                    /*去掉类名*/
                    $(e).children("em").removeClass("is_hand");
                    $(e).children("em").text(" "+data.data.love.点赞总数);
                }else{
                    $(e).children("em").addClass("is_hand");
                    $(e).children("em").text(" "+data.data.love.点赞总数);
                }
                //重绘页面不行了
                /* dynamic(1,3,localStorage.getItem("this_userid"));*/
            }
        })
    }

/*获取 关注人的动态列表*/
    getAttention(1,3,localStorage.getItem("this_userid"));
    function getAttention(page,size,userid){
      myAjax({url:"/dynamic/find/AttentionUser/DynamicList",data:{page:page,size:size,userid:userid},async:false,type:"post"}, function (data) {
          console.log(data);
          if(data.status==200){
              template.helper("str",function(str){

                  return str.split(",");
              })
              template.helper("time",function(time){
                  var timestamp=new Date().getTime();//当前时间戳
                  var kk=timestamp-time;//发表时的时间戳
                  var timea="";
                  var sec=parseInt(kk/1000);//秒
                  var min=parseInt(sec/60);//分
                  var hour=parseInt(min/60);//时
                  var day=parseInt(hour/24);//天
                  if(sec<60){
                      timea=sec+"秒前";
                  }else if(min<60){
                      timea=min+"分钟前";
                  }else if(hour<24){
                      timea=hour+"小时前";
                  }else if(day<7){
                      timea=day+"天前";
                  }else{
                      timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,11).replace("/","-");
                  }
                  return timea;

              });
             $("#item2>.focus_center").html(template("AttentionUser",data))
              //点赞
              $(".hand").click(function () {
                  var id=$(this).data("id");
                  console.log(id);
                  loveDynamic(id,this);
              })
          }
      })
    }

    loadmore( $('.main'),'/dynamic/find/AttentionUser/DynamicList',localStorage.getItem("this_userid"),function (data) {
        console.log(data);
        if(data.status==200){
            $("#item2>.focus_center").append(template("AttentionUser",data));
            //$('#item1>.All_lists').append(template("Alldy",data));
            //点赞
            $(".hand").click(function () {
                var id=$(this).data("id");
                console.log(id);
                loveDynamic(id,this);
            })
        }
    });

    })
</script>
</html>