<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>查看更多评论</title>

    <link rel="stylesheet" href="../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/iconfont.css"/>
    <link rel="stylesheet" href="../../css/header.css"/>
    <link rel="stylesheet" href="../../css/index/comment_lists.css"/>

</head>
<body>
<div class="layer">
    <header id="header" class="mui-bar mui-bar-nav">
        <i class="mui-icon mui-icon-left-nav mui-pull-left" onclick="back()"></i>
        <h1 class="mui-title">评分</h1>
        <em  onclick="location.href='./write_submit.html'"><del class="iconfont icon-pinglun"></del>写评价</em>
    </header>
    <div class="main">
        <div class="comment_teacher_lists">
            <!--<div class="teacher_list">
                <div class="teacher_top">
                    <img src="../../img/focus-img1.png" alt=""/>
                    <div class="center">
                        <span>小南国百宝</span>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                    </div>
                    <del>2018-03-14 08:30</del>
                </div>
                <div class="middle">
                    很喜欢老师讲的课，上课幽师讲的课，上课幽师讲的课，上课幽默又非常的认真， 又不懂的老师会很耐心的帮助解答。非常好！
                </div>
            </div>
            <div class="teacher_list">
                <div class="teacher_top">
                    <img src="../../img/focus-img1.png" alt=""/>
                    <div class="center">
                        <span>小南国百宝</span>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                    </div>
                    <del>2018-03-14 08:30</del>
                </div>
                <div class="middle">
                    很喜欢老师讲的课，上课幽师讲的课，上课幽师讲的课，上课幽默又非常的认真， 又不懂的老师会很耐心的帮助解答。非常好！
                </div>
            </div>
            <div class="teacher_list">
                <div class="teacher_top">
                    <img src="../../img/focus-img1.png" alt=""/>
                    <div class="center">
                        <span>小南国百宝</span>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                        <em>★</em>
                    </div>
                    <del>2018-03-14 08:30</del>
                </div>
                <div class="middle">
                    很喜欢老师讲的课，上课幽师讲的课，上课幽师讲的课，上课幽默又非常的认真， 又不懂的老师会很耐心的帮助解答。非常好！
                </div>
            </div>-->
        </div>
    </div>
</div>
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/x_rem.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/back.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<script id="evaluate" type="text/html">
    {{if data == null||data.length==0}}
    <div class="no_in">对不起，暂时没有评价</div>
    {{else}}
    {{each data.evaluateTeacherList as value i}}
    <div class="teacher_list">
        <div class="teacher_top">
            <img src="{{value.user.portrait==null?'../../img/logo.png':value.user.portrait}}" alt=""/>
            <div class="center clearfix">
                <span>{{value.user.nickname==null?value.user.realName==null?"猴姆教学":value.user.realName:value.user.nickname}}</span>
                {{if str(value.evaluateTeacher.score) ==1}}
                <em>★</em>
                {{else if str(value.evaluateTeacher.score) ==2}}
                <em>★</em>
                <em>★</em>
                {{else if str(value.evaluateTeacher.score) ==3}}
                <em>★</em>
                <em>★</em>
                <em>★</em>
                {{else if str(value.evaluateTeacher.score) ==4}}
                <em>★</em>
                <em>★</em>
                <em>★</em>
                <em>★</em>
                {{else}}
                <em>★</em>
                <em>★</em>
                <em>★</em>
                <em>★</em>
                <em>★</em>
                {{/if}}

            </div>
            <del>{{value.evaluateTeacher.updateTime==null?"时间不详":time(value.evaluateTeacher.updateTime)}}</del>
        </div>
        <div class="middle">
            <p>{{value.evaluateTeacher.body}}</p>
        </div>
    </div>
    {{/each}}
   {{/if}}
</script>
<script>
    $(function () {
        var teacherid=location.href.split("=")[1];
        myAjax({url:"/teacher/related/get/Teacher/Evaluate/List",
            data:{teacherid:teacherid,page:1,size:5},
            type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
                template.helper("time",function(date){
                    var time=new Date(date).toLocaleString().replace(/:\d{1,2}$/,' ').replace(/\//g,"-");
                    return time;
                });
                template.helper("str",function(str){
                    return parseInt(str)
                });
                $(".comment_teacher_lists").html(template("evaluate",data))
            }
        })
        var obj={
            teacherid:teacherid,
            size:5
        };
        loadmoreIndex( $('.main'),'/teacher/related/get/Teacher/Evaluate/List',obj,function (data) {
            console.log(data);
            if(data.status==200){
                $("#item2>.focus_center").append(template("AttentionUser",data));
                //$('#item1>.All_lists').append(template("Alldy",data));
                //点赞
                $(".hand").click(function () {
                    var id=$(this).data("id");
                    console.log(id);
                    loveDynamic(id,this);
                })
            }
        });
    })
</script>
</html>