<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>猴姆教育首页</title>
    <link rel="stylesheet" href="../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/iconfont.css"/>
    <link rel="stylesheet" href="../../css/swiper.min.css"/>
    <link rel="stylesheet" href="../../css/index/index.css"/>
</head>
<body style="background-color:#fff;">
<div id="loading">
    <img src="../../img/login.gif" alt=""/>
    <div>请等待，正在加载...</div>
</div>
<div class="layer">
    <!--头部-->
   <div id="header">
   </div>
    <div class="main">
        <!--swiper  轮播图-->
       <div class="swiper">
           <div class="swiper-container" id="swiper">
               <div class="swiper-wrapper">
                   <div class="swiper-slide">
                       <div class="taxt">
                           <div class="chinese">
                               觉得为时已晚的时候，恰恰是最早的时候
                           </div>
                           <div class="eng">
                               Tought is already is late,exactly is the earliest time.
                           </div>
                       </div>
                       <img src="../../img/index_swiper.png" alt=""/>
                   </div>
                   <div class="swiper-slide">
                       <div class="taxt">
                           <div class="chinese">
                               觉得为时已晚的时候，恰恰是最早的时候
                           </div>
                           <div class="eng">
                               Tought is already is late,exactly is the earliest time.
                           </div>
                       </div>
                       <img src="../../img/index_swiper.png" alt=""/>
                   </div>
                   <div class="swiper-slide">
                       <div class="taxt">
                           <div class="chinese">
                               觉得为时已晚的时候，恰恰是最早的时候
                           </div>
                           <div class="eng">
                               Tought is already is late,exactly is the earliest time.
                           </div>
                       </div>
                       <img src="../../img/index_swiper.png" alt=""/>
                   </div>
               </div>
               <!-- 如果需要分页器 -->
               <div class="swiper-pagination"></div>
           </div>
       </div>
        <!--famous -->
        <div class="famous">
            <h3 class="clearfix">
                <em class="f_left">名师名校</em>
                <i class="f_right" onclick="location.href='../nearBay/near_bay_school.html'"> 查看更多<del class="mui-icon mui-icon-arrowright"></del></i>
            </h3>
            <ul class="clearfix">
               <!-- <li onclick="location.href='./teacher_index.html'" tapmode="tapmode_style">
                    <div class="box">
                        <img src="../../img/index_famous.png" alt=""/>
                    </div>
                    <div class="info">
                        <div class="info_top">
                            <em>傅娟</em>
                            <i>主讲：初二 地讲：初二 地理</i>
                        </div>
                        <div class="info_center">
                            <del>120</del>个视频 | <del>1.3</del>万位学员
                        </div>
                        <div class="info_footer">
                            华南师范大学附属南师范大学附属中学
                        </div>
                    </div>
                </li>
                <li tapmode="tapmode_style" onclick="location.href='./teacher_index.html'" >
                    <div class="box">
                        <img src="../../img/index_famous.png" alt=""/>
                    </div>
                <div class="info">
                    <div class="info_top">
                        <em>傅娟</em>
                        <i>主讲：初二 地理</i>
                    </div>
                    <div class="info_center">
                        <del>120</del>个视频 | <del>1.3</del>万位学员
                    </div>
                    <div class="info_footer">
                        华南师范大学附属中学
                    </div>
                </div>
                </li>
           --> </ul>
            <div class="lists famous_list">
               <!--名校-->
               <!-- <div class="list" onclick="location.href='./edu_index.html'">
                    <div class="img_box">
                        <img src="../../img/index_school.png" alt=""/>

                    </div>
                    <div class="right">
                        <em class="clearfix">华南师范大学 <del>1.2km</del></em>

                        <div class="right_center">
                            <em></em> 1&lt;!&ndash;这是什么？&ndash;&gt;
                            &nbsp;&nbsp;&nbsp;&nbsp;<del>高中</del>
                            &nbsp;&nbsp;&nbsp;&nbsp;<del>初中</del>
                        </div>
                        <div class="right_footer">
                            <i class="iconfont icon-zuobiao"></i>
                            <span>广州市天河区中山广州市天河区中山大道西1路</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="img_box">
                        <img src="../../img/index_school.png" alt=""/>

                    </div>
                    <div class="right">
                        <em class="clearfix">华南师范大学 <del>1.2km</del></em>

                        <div class="right_center">
                            <em></em> 1&lt;!&ndash;这是什么？&ndash;&gt;
                            &nbsp;&nbsp;&nbsp;&nbsp;<del>高中</del>
                            &nbsp;&nbsp;&nbsp;&nbsp;<del>初中</del>
                        </div>
                        <div class="right_footer">
                            <i class="iconfont icon-zuobiao"></i>
                            <span>广州市天河区中山广州市天河区中山大道西1路</span>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <!--图片展示-->
    <div class="show">
        <img src="../../img/index_show.png" alt=""/>
    </div>
        <!--热门好课-->
        <div class="hot_lesson">
            <h3 class="clearfix">
                <em class="f_left">热门好课</em>
                <i class="f_right" onclick="location.href='../nearBay/near_bay_school.html#item2'"> 查看更多<del class="mui-icon mui-icon-arrowright" ></del></i>
            </h3>
            <ul class="clearfix">

            <!--    <li>
                    <a href="./index_video.html">
                        <img src="../../img/index_hotLesson.png" alt=""/>
                        <em>全等三角形</em>
                        <span><del>1256</del>人在学 | 免费</span>
                    </a>
                </li>
                <li>
                    <a href="./index_video.html">
                        <img src="../../img/index_hotLesson.png" alt=""/>
                        <em>全等三角形</em>
                        <span><del>1256</del>人在学 | 免费</span>
                    </a>
                </li>
                <li>
                    <a href="./index_video.html">
                        <img src="../../img/index_hotLesson.png" alt=""/>
                        <em>全等三角形</em>
                        <span><del>1256</del>人在学 | 免费</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <!--名师讲堂-->
        <div class="excent_lesson">
            <h3 class="clearfix">
                <em class="f_left">名师讲堂</em>
                <i class="f_right"onclick="location.href='../nearBay/near_bay_school.html#item2'"> 查看更多<del class="mui-icon mui-icon-arrowright" ></del></i>
            </h3>
            <ul>

               <!-- <li>
                    <a href="./index_video.html">
                        <img src="../../img/index_edu.png" alt=""/>
                        <div class="ex_right">
                           <div class="ex_top clearfix">
                               <span>主讲：傅娟</span>&nbsp;&nbsp;&nbsp;&nbsp;
                               <em class="f_right"><del>11023</del>人学习</em>
                           </div>
                            <div class="ex_center">
                                2018-07-15  更新第10课时更新第10课时
                            </div>
                            <div class="ex_footer">
                                华南师范大学附属中学师范大学附属中学
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./index_video.html">
                        <img src="../../img/index_edu.png" alt=""/>
                        <div class="ex_right">
                           <div class="ex_top clearfix">
                               <span>主讲：傅娟</span>&nbsp;&nbsp;&nbsp;&nbsp;
                               <em class="f_right"><del>11023</del>人学习</em>
                           </div>
                            <div class="ex_center">
                                2018-07-15  更新第10课时更新第10课时
                            </div>
                            <div class="ex_footer">
                                华南师范大学附属中学师范大学附属中学
                            </div>
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>
        <!--问答-->
        <div class="request">
           <!-- <h3 class="clearfix">
                <em class="f_left">猴姆问答</em>
                <i class="f_right" onclick="location.href='../find/find_request.html'"> 查看更多<del class="mui-icon mui-icon-arrowright" ></del></i>
            </h3>

            <div class="qu_list" >
                <div class="tit" onclick="location.href='./quest_detail.html'">
                    6的平方等于多少？
                </div>
                <div class="qu_bottom clearfix">
                    <div class="bo_left" onclick="location.href='./quest_detail.html'">
                        <em class="iconfont icon-wode1"></em>赵英俊
                        <i class="iconfont icon-huangguan"></i>悬赏：15积分
                        <del class="iconfont icon-xiaoxi"></del>99+
                    </div>
                    <div class="bo_right f_right" onclick="location.href='./my_want_request.html'">
                        <s class="iconfont icon-weibiaoti1"></s>
                        我要回答
                    </div>

                </div>
            </div>
            <div class="qu_list" >
                <div class="tit" onclick="location.href='./quest_detail.html'">
                    6的平方等于多少？
                </div>
                <div class="qu_bottom clearfix">
                    <div class="bo_left" onclick="location.href='./quest_detail.html'">
                        <em class="iconfont icon-wode1"></em>赵英俊
                        <i class="iconfont icon-huangguan"></i>悬赏：15积分
                        <del class="iconfont icon-xiaoxi"></del>99+
                    </div>
                    <div class="bo_right f_right" onclick="location.href='./my_want_request.html'">
                        <s class="iconfont icon-weibiaoti1"></s>
                        我要回答
                    </div>

                </div>
            </div>-->
        </div>
    </div>

    <!--footer-->
    <div id="footer"></div>
</div>
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/x_rem.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/swiper.min.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<!--名师-->
<script id="famous" type="text/html">
    {{if data==null||data.length==0}}
   <div class="no_in">对不起，当前条件下暂时没有教师推荐</div>
    {{else}}
    {{each data as value i}}
    <li onclick="location.href='./teacher_index.html?id={{value.teacher.userid}}'" >
        <div class="box">
            <img src="{{value.teacher.portrait==null?'../../img/index_famous.png':value.teacher.portrait}}" alt=""/>
        </div>
        <div class="info">
            <div class="info_top">
                <em>{{value.teacher.nickname==null?value.teacher.realName==null?"暂未设置":value.teacher.realName:value.teacher.nickname}}</em>
                <i>主讲：{{value.teacher.grade}} {{value.teacher.teachingSubjects}}</i>
            </div>
            <div class="info_center">
                <del>{{value.AllPeriodNum}}</del>个视频 | <del>{{value.StudentNum}}</del>位学员
            </div>
            <div class="info_footer">
               {{value.schoolName}}
            </div>
        </div>
    </li>
    {{/each}}
{{/if}}
</script>
<!--学校-->
<script id="school" type="text/html">
{{if data==null||data.length==0}}
{{else}}
{{each data as value i}}
<div class="list" onclick="location.href='./edu_index.html?schoolId={{value.school.schoolId}}'" >
    <div class="img_box">
        <img src="{{value.school.portrait==null?'../../img/index_school.png':value.school.portrait}}" alt=""/>

    </div>
    <div class="right">
        <em class="clearfix">{{value.school.name}} <!--<del>1.2km</del>--></em>

        <div class="right_center">
            <em></em> {{value.teacherNum}}<!--这是什么？-->
            {{if value.school.containClasses!==null}}
            {{each str(value.school.containClasses) as value i}}
            &nbsp;&nbsp;&nbsp;&nbsp;<del>{{value}}</del>
            {{/each}}
            {{/if}}
        </div>
        <div class="right_footer">
            <i class="iconfont icon-zuobiao"></i>
            <span>{{value.school.address}}</span>
        </div>
    </div>
</div>
{{/each}}
    {{/if}}
</script>
<!--热门好课-->
<script id="hot_lesson" type="text/html">
    {{if data==null||data.length==0}}
    <div class="no_in">对不起，当前条件下没有课程推荐</div>
    {{else}}
    {{each data as value i}}
    <li>
        <a href="./index_video.html?id={{value.course.id}}">
            <img src="{{value.course.coursePicture==null?'../../img/index_hotLesson.png':value.course.coursePicture}}" alt=""/>
            <em>{{value.course.name}}</em>
            <span><del>{{value.StudyCourseNum}}</del>人在学 | 免费</span>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
<!--名师讲堂-->
<script id="excent_lesson" type="text/html">
    {{if data==null||data.length==0}}
    <div class="no_in">对不起，当前条件下没有课程推荐</div>
    {{else}}
    {{each data as value i}}
    <li>
        <a href="./index_video.html?id={{value.course.id}}">
            <img src="{{value.course.coursePicture==null?'../../img/index_edu.png':value.course.coursePicture}}" alt=""/>
            <div class="ex_right">
                <div class="ex_top clearfix">
                    <span>主讲：{{value.speaker}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <em class="f_right"><del>{{value.StudyCourseNum}}</del>人学习</em>
                </div>
                <div class="ex_center">
                   {{time(value.updateTime)}}  更新第{{value.updateNum}}课时
                </div>
                <div class="ex_footer">
                    {{value.course.schoolName}}
                </div>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
<!--问答-->
<script id="request" type="text/html">
    <h3 class="clearfix">
        <em class="f_left">猴姆问答</em>
        <i class="f_right" onclick="location.href='../find/find_request.html'"> 查看更多<del class="mui-icon mui-icon-arrowright" ></del></i>
    </h3>
    {{if data==null||data.length==0}}
    <div class="no_in">对不起，当前条件下没有问答</div>
    {{else}}
    {{each data as value i}}
    <div class="qu_list" >
        <div class="tit" onclick="location.href='./quest_detail.html?id={{value.questions.id}}'">
            {{value.questions.title}}
        </div>
        <div class="qu_bottom clearfix">
            <div class="bo_left" onclick="location.href='./quest_detail.html?id={{value.questions.id}}'">
                <em class="iconfont icon-wode1"></em>{{value.questionuser.nickname==null?value.questionuser.realName==null?"猴姆教学":value.questionuser.realName:value.questionuser.nickname}}
                <i class="iconfont icon-huangguan"></i>悬赏：{{value.questions.reward}}积分
                <del class="iconfont icon-xiaoxi"></del>{{value.answerNum}}
            </div>
            <div class="bo_right f_right" onclick="location.href='./my_want_request.html?id={{value.questions.id}}'">
                <s class="iconfont icon-weibiaoti1"></s>
                我要回答
            </div>

        </div>
    </div>
    {{/each}}
    {{/if}}
</script>
<script>
    (function($, doc) {
        $.init();
        $.plusReady(function() {
            var backButtonPress = 0;
            $.back = function(event) {
                backButtonPress++;
                if (backButtonPress > 1) {
                    plus.runtime.quit();
                } else {
                    plus.nativeUI.toast('再按一次退出应用');
                }
                setTimeout(function() {
                    backButtonPress = 0;
                }, 1000);
                return false;
            };
        });
    }(mui, document));
$(function () {
    mui('body').on('tap','a',function(){document.location.href=this.href;});
    $('#header').load('../common/index_header.html');
    $('#footer').load('../common/footer.html');

    //ajax 发送完毕
    $(document).ajaxStop(function(){
        $("#loading").hide();
    })
    setTimeout(function () {
        $(".mui-bar-tab>a:first-of-type").addClass("mui-active");
        /*城市选择*/
        if(localStorage.getItem("city")){
            //console.log(1);
            $(".header>.h_left>s").html(localStorage.getItem("city"));
        }
        /*年级选择*/
        if(localStorage.getItem("index_grade")){
            $(".header>.h_right>s").html(localStorage.getItem("index_grade"));
        }
        /*调到搜索框 */
        $(".h_center input").focus(function () {
            location.href='./search.html';
        });
    },100);
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay:true,
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
    })
    //渲染 调用的时候只是需要写上分类 id 类名  模板名称
    function render(grade,classify,page,size,ele,tem){
        myAjax({url:"/content/manage/get/Appoint/Content",type:"post",
            data:{grade:grade,
                classify:classify,
                page:page,
                size:size
            }}, function (data) {
            console.log(data);
            if(data.status==200){
               template.helper("sub", function (sub) {
                   return parseInt(20000+sub);
               });
                template.helper("str",function(str){
                    return str.split(",");
                });
                template.helper("spl",function(spl){
                    return spl.split(" ");
                })
                template.helper("time",function(time){
                    var timestamp=new Date().getTime();//当前时间戳
                    var kk=timestamp-time;//发表时的时间戳
                    var timea="";
                    var sec=parseInt(kk/1000);//秒
                    var min=parseInt(sec/60);//分
                    var hour=parseInt(min/60);//时
                    var day=parseInt(hour/24);//天
                    if(sec<60){
                        timea=sec+"秒前";
                    }else if(min<60){
                        timea=min+"分钟前";
                    }else if(hour<24){
                        timea=hour+"小时前";
                    }else if(day<7){
                        timea=day+"天前";
                    }else{
                        timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').replace(/\//g,"-");
                    }
                    return timea;

                });
                $(ele).html(template(tem,data))
            }else{
                sweetAlert(
                        "sorry",
                        data.msg,
                        "error"
                )
            }
        })
    }
    if(localStorage.getItem("grade_index") ){
        var grade=localStorage.getItem("grade_index")
    }else{
        grade=0;
    }

        /*名师*/
    render(grade,1,1,2,".famous>ul","famous")
    /*名校*/
    render(grade,2,1,3,".famous_list","school")
    /*热门好课*/
    render(grade,3,1,4,".hot_lesson>ul","hot_lesson")
    /*名师讲堂*/
   // excent_lesson
    render(grade,4,1,4,".excent_lesson>ul","excent_lesson")
    /*猴姆问答*/
    render(grade,5,1,4,".request","request")
})
</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=bd54e4be514aab4910f8afc68209d057"></script>
<script type="text/javascript">
    var map = new AMap.Map('container', {
        resizeEnable: true,
        center: [116.486409,39.921489],
        zoom: 12
    });

    AMap.plugin('AMap.Weather', function() {
        var weather = new AMap.Weather();
        //查询实时天气信息, 查询的城市到行政级别的城市，如朝阳区、杭州市
        /*城市选择*/
        if(localStorage.getItem("city")){
            var city=localStorage.getItem("city")
        }else{
            city="郑州";
        }
        weather.getLive(city, function(err, data) {
            if (!err) {
                $(".header>.h_left>i>del").text(data.weather);
                $(".header>.h_left>i>em").text(data.temperature+ '℃');
                var str = [];
                str.push(data.city );
                str.push( data.weather);
                str.push(data.temperature + '℃');
              /*  var marker = new AMap.Marker({map: map, position: map.getCenter()});
                var infoWin = new AMap.InfoWindow({
                    content: '<div class="info" style="position:inherit;margin-bottom:0;">'+str.join('')+'</div><div class="sharp"></div>',
                    isCustom:true,
                    offset: new AMap.Pixel(0, -37)
                });
                infoWin.open(map, marker.getPosition());
                marker.on('mouseover', function() {
                    infoWin.open(map, marker.getPosition());
                });*/
                console.log(str);
            }
        });
    });
</script>
</html>