<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>教师的个人主页</title>
    <link rel="stylesheet" href="../../css/mui.min.css"/>
    <link rel="stylesheet" href="../../css/mui_img.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/iconfont.css"/>
    <link rel="stylesheet" href="../../css/header.css"/>
    <link rel="stylesheet" href="../../css/icons-extra.css"/>
    <link rel="stylesheet" href="../../css/index/index.css"/>
    <link rel="stylesheet" href="../../css/index/teacher_index.css"/>
</head>
<body style="background-color:#fff; overflow-x: hidden">
<div id="loading">
    <img src="../../img/login.gif" alt=""/>
    <div>请等待，正在加载...</div>
</div>
<div class="layer">
    <header id="header" class="mui-bar mui-bar-nav">
        <i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" onclick="back()"></i>
        <h1 class="mui-title">个人主页</h1>
        <em class="mui-icon mui-icon-more"></em>
    </header>
    <div class="main" style="display: none;overflow-x: hidden ">
        <div class="message_info clearfix">
           <!-- <div id="triangle-topright">

            </div>
            <span class="report">举报</span>
            <img src="../../img/focus-img1.png" alt=""/>
            <div class="info_center teacher_info_center">
                &lt;!&ndash;判断男女 &ndash;&gt;
                &lt;!&ndash; <em>傅娟 <i class="iconfont icon-nv"></i> <del class="iconfont icon-mingpian "></del></em>&ndash;&gt;
                <em>傅娟
                    <i class="iconfont icon-82"></i>
                    <del class="iconfont icon-mingpian "></del>
                    <s class="iconfont icon-v"></s>
                </em>
                <p>华南师范大学附属中学数学教师</p>
                &lt;!&ndash; 向下的三角形 &ndash;&gt;

            </div>
            <div class="teacher_Attention">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;">
                            <em>114</em>
                            <span>学生</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>114</em>
                            <span>粉丝</span>
                        </a>

                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>114</em>
                            <span>获赞</span>
                        </a>

                    </li>
                </ul>
            </div>-->
        </div>
        <div id="slider" class="mui-slider find_request">
            <div style="padding: 10px 10px;">
                <div id="segmentedControl" class="mui-segmented-control">
                    <span class="mui-control-item mui-active">
                        <span>主讲课程</span>
                    </span>
                    <span class="mui-control-item">
                        <span>课堂问答</span>
                    </span>
                    <span class="mui-control-item" >
                        <span>学生评价</span>
                    </span>
                    <span class="mui-control-item dynamic_href" >
                        <span>动态</span>
                    </span>

                </div>
            </div>
        </div>
        <div class="main_center mine_request teacher_center">
            <!--操作-->
            <div class="replay">
               <!-- <button class="attention"> +  关注</button>
                <button class="hand"><em class="mui-icon-extra mui-icon-extra-heart"></em> 点赞</button>-->
            </div>
            <div>
                <div id="item1" class="mui-control-content mui-active">
                    <!--主讲课程-->
                    <div class="course_lists">

                      <!--  <div class="course_list">
                            <img src="../../img/index_edu.png" alt="">
                            <div class="course_list_center ">
                                <p class="clearfix">
                                    <del class="f_left">更新第10课时更新第10课时更新第10课时</del>
                                    <i class="f_right">2017.12.15</i></p>
                                <div class="icons">
                                    <em class="iconfont icon-wode1">120</em>
                                    <em class="iconfont icon-wujiaoxingkong">120</em>
                                    <em class="mui-icon-extra mui-icon-extra-heart">120</em>
                                </div>
                                <span>华南师范大学附属中学</span>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div id="item2" class="mui-control-content">
                    <!--课堂问答-->
                    <div class="request">

                        <!--<div class="qu_list">
                            <div class="tit">
                                6的平方等于多少？
                            </div>
                            <div class="qu_bottom clearfix">
                                <div class="bo_left">
                                    <em class="iconfont icon-wode1"></em>赵英俊
                                    <i class="iconfont icon-huangguan"></i>悬赏：15积分
                                    <del class="iconfont icon-xiaoxi"></del>99+
                                </div>
                                <div class="bo_right f_right" onclick="location.href='./my_want_request.html'">
                                    <s class="iconfont icon-weibiaoti1"></s>
                                    我要回答
                                </div>

                            </div>
                        </div>-->
                    </div>
                </div>
                <div id="item3" class="mui-control-content">
                    <div class="write_submit" >
                        <em></em>
                    </div>
                    <!--学生评价-->
                    <div class="student_evaluate">


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
<!--<script src="../../js/mui.min.js"></script>
<script src="../../js/mui.zoom.js"></script>
<script src="../../js/mui.preview.js"></script>-->
<script src="../../js/x_rem.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/back.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<script type="text/html" id="baseInfo">
    <div id="triangle-topright" onclick="location.href='./report.html?id={{data.teacher.userid}}'"></div>
    <span class="report" onclick="location.href='./report.html?id={{data.teacher.userid}}'">举报</span>
    <img src="{{data.teacher.portrait==null?'../../img/logo.png':data.teacher.portrait}}" alt=""/>
    <div class="info_center teacher_info_center">
        <!--判断男女 -->
        <!-- <em>傅娟 <i class="iconfont icon-nv"></i> <del class="iconfont icon-mingpian "></del></em>-->
        <em>{{data.teacher.nickname==null?data.teacher.realName==null?"猴姆教学":data.teacher.realName:data.teacher.nickname}}
            <i class="iconfont {{data.teacher.gender=='女'||data.teacher.gender==null?'icon-nv':'icon-82'}}"></i>
            <del class="iconfont icon-mingpian "></del>
            <s class="iconfont icon-v"></s>
        </em>
        <p>{{data.schoolName}}{{data.teacher.teachingSubjects}}教师</p>
        <!-- 向下的三角形 -->

    </div>
    <div class="teacher_Attention">
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <em>{{data.StudentNum}}</em>
                    <span>学生</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <em>{{data.FansNum}}</em>
                    <span>粉丝</span>
                </a>

            </li>
            <li>
                <a href="javascript:;">
                    <em>{{data.LoveNum}}</em>
                    <span>获赞</span>
                </a>

            </li>
        </ul>
    </div>
</script>
<script id="reply" type="text/html">
    {{if data.WhetherAttention==false}}
    <button class="attention"> +  关注</button>
    {{else}}
    <button class="attention"> 取消关注</button>
    {{/if}}
    {{if data.WhetherLove==false}}
    <button class="hand "><em class="mui-icon-extra mui-icon-extra-heart"></em> <s>点赞</s></button>
    {{else}}
    <button class="hand"><em class="mui-icon-extra mui-icon-extra-heart"></em> <s>取消点赞</s></button>
    {{/if}}
</script>
<script type="text/html" id="course">
{{if data==null||data.length==0||!data}}
<div class="no_in">对不起，暂时没有主讲课程喔</div>
{{else}}
{{each data as value i}}
<div class="course_list" onclick="location.href='./index_video.html?id={{value.course.id}}'">
    <img src="{{value.course==null||value.course.coursePicture==null?'../../img/index_edu.png':value.course.coursePicture}}" onerror="this.src='../../img/index_edu.png'" alt="">
    <div class="course_list_center ">
        <p class="clearfix">
            <del class="f_left">更新第{{value.updateNum}}课时</del>
            <i class="f_right">{{time(value.updateTime)}}</i></p>
        <div class="icons">
            <em class="iconfont icon-wode1"> {{value.StudyCourseNum}}</em>
            <em class="iconfont icon-wujiaoxingkong"> {{value.CollectNum}}</em>
            <em class="mui-icon-extra mui-icon-extra-heart"> {{value.LoveNum}}</em>
        </div>
        <span>{{value.course==null?"未知":value.course.version}} {{value.course==null?"":value.course.grade}}</span>
    </div>
</div>
{{/each}}
    {{/if}}
</script>
<script id="request" type="text/html">
    {{if data==null||data.length==0||!data}}
    <div class="no_in">对不起，暂时没有课堂问答喔</div>
    {{else}}
{{each data as value i}}
    <div class="qu_list" >
        <div class="tit" onclick="location.href='../index/quest_detail.html?id={{value.questions.id}}'">
            {{value.questions.title}}
        </div>
        <div class="qu_bottom clearfix">
            <div class="bo_left">
                <em class="iconfont icon-wode1"></em>{{value.questionuser.nickname==null?value.questionuser.realName==null?"暂无设置":value.questionuser.realName:value.questionuser.nickname}}
                <i class="iconfont icon-huangguan"></i>悬赏：{{value.questions.reward}}积分
                <del class="iconfont icon-xiaoxi"></del>{{value.answerNum}}
            </div>
            <div class="bo_right f_right" onclick="location.href='../index/my_want_request.html?id={{value.questions.id}}'">
                <s class="iconfont icon-weibiaoti1"></s>
                我要回答
            </div>
        </div>
    </div>
{{/each}}
    {{/if}}
</script>
<script id="evaluate" type="text/html">
    {{if data == null||data.length==0}}
        <div class="no_in">对不起，暂时没有评价</div>
        {{else}}
    <h2>评价 <em>（{{data==null?0:data.evaluateTeacherNum}}条）</em></h2>
        {{each data.evaluateTeacherList as value i}}
        <div class="evaluate_list">
            <div class="eva_top">
                <img src="{{value.user.portrait==null?'../../img/logo.png':value.user.portrait}}" alt=""/>
                <div class="eva_top_center clearfix">
                    <em>{{value.user.nickname==null?value.user.realName==null?"猴姆教学":value.user.realName:value.user.nickname}}</em>
                    {{if str(value.evaluateTeacher.score) ==1}}
                    <del>★</del>
                    {{else if str(value.evaluateTeacher.score) ==2}}
                    <del>★</del>
                    <del>★</del>
                    {{else if str(value.evaluateTeacher.score) ==3}}
                    <del>★</del>
                    <del>★</del>
                    <del>★</del>
                    {{else if str(value.evaluateTeacher.score) ==4}}
                    <del>★</del>
                    <del>★</del>
                    <del>★</del>
                    <del>★</del>
                    {{else}}
                    <del>★</del>
                    <del>★</del>
                    <del>★</del>
                    <del>★</del>
                    <del>★</del>
                    {{/if}}
                    <i class="f_right">{{value.evaluateTeacher.updateTime==null?"时间不详":time(value.evaluateTeacher.updateTime)}}</i>
                </div>
            </div>
            <div class="eva_content">
                <p>{{value.evaluateTeacher.body}}</p>
            </div>
        </div>

        {{/each}}
    <!--查看更多-->
    <div class="see_more" onclick="location.href='comment_lists.html?teacherid={{data.evaluateTeacherList[0].evaluateTeacher.teacherid}}'">查看更多>>></div>
{{/if}}
</script>
<script>
    $(function () {
        //ajax 发送完毕
        $(document).ajaxStop(function(){
            $("#loading").hide();
            $(".main").show();
        });
        /*判断 用户是否关注 */
        $(".mui-segmented-control>.mui-control-item").click(function () {
            $(this).addClass("mui-active");
            $(this).siblings().removeClass("mui-active");
            var index = $(this).index();
            $('.mui-control-content').eq(index).addClass('mui-active');
            $('.mui-control-content').eq(index).siblings().removeClass('mui-active');
           })
        /*mui.previewImage();
        mui('body').on('tap','a',function(){document.location.href=this.href;});*/
        $('#scroll').scroll({
            indicators: true //是否显示滚动条
        });
        $(".near_header>em").click(function () {
            alert( 1);
        });
        var segmentedControl = document.getElementById('segmentedControl');
        $('.mui-input-group').on('change', 'input', function() {
            if (this.checked) {
                var styleEl = document.querySelector('input[name="style"]:checked');
                var colorEl = document.querySelector('input[name="color"]:checked');
                if (styleEl && colorEl) {
                    var style = styleEl.value;
                    var color = colorEl.value;
                    segmentedControl.className = 'mui-segmented-control' + (style ? (' mui-segmented-control-' + style) : '') + ' mui-segmented-control-' + color;
                }
            }
        });
        /* 点击举报*/
       /* $("#triangle-topright").click(function () {
            location.href='./report.html';
        })
        $(".report").click(function () {
            location.href='./report.html';
        })*/
        //渲染  进入到教师主页的基本信息
        var teacherid=location.href.split("=")[1];
        var userid=localStorage.getItem("this_userid");
        // 点赞
        function loveTec(e){
            myAjax({url:"/dynamic/update/Love/Teacher",
                data:{userid:userid,
                    teacherid :teacherid
                },type:"post"}, function (data) {
                console.log(data);
                if(data.status==200){
                    if(data.data.love==true){
                        $(e).children("s").text("取消点赞")
                    }else{
                        $(e).children("s").text("点赞")
                    }
                }
            })
        }
        $(".main").on("click",".hand", function () {
            loveTec(this)
        })
        //关注
        function attTec(e){
            myAjax({url:"/dynamic/update/Attention/User",
                data:{fansId:userid,
                    beFocusedUserid:teacherid
                },type:"post"}, function (data) {
                console.log(data);
                if(data.status==200){
                    if(data.data.attention==true){
                        $(e).text("取消关注")
                    }else{
                        $(e).text("+ 关注")
                    }
                }
            })
        }
        $(".main").on("click",".attention", function () {
            attTec(this)
        })
        //查看教师动态
        $(".dynamic_href").click(function(){
            location.href='teacher_dynamic.html?teacherid='+teacherid
        })
        myAjax({url:"/teacher/related/get/Teacher/BaseInfo",
            data:{teacherid:teacherid,userid:userid},
            type:"post"},
                function (data) {
            console.log(data);
                    if(data.status==200){
                        $(".message_info").html(template("baseInfo",data));
                        $(".replay").html(template("reply",data));
                    }
        })
        //主讲课程
        myAjax({url:"/teacher/related/get/Teacher/CourseList",
            data:{teacherid:teacherid},
        type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){

                template.helper("str",function(str){

                    return str.split(",");
                })
                template.helper("time",function(time){
                    var timestamp=new Date().getTime();//当前时间戳
                    var kk=timestamp-time;//发表时的时间戳
                    var timea="";
                    var sec=parseInt(kk/1000);//秒
                    var min=parseInt(sec/60);//分
                    var hour=parseInt(min/60);//时
                    var day=parseInt(hour/24);//天
                    if(sec<60){
                        timea=sec+"秒前";
                    }else if(min<60){
                        timea=min+"分钟前";
                    }else if(hour<24){
                        timea=hour+"小时前";
                    }else if(day<7){
                        timea=day+"天前";
                    }else{
                        timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,15).replace(/\//g,"-");
                    }
                    return timea;

                });
                $("#item1>.course_lists").html(template("course",data))
            }
        })
        //课堂问答
        myAjax({url:"/teacher/related/get/Course/QuestionAnswer",
            data:{teacherid:teacherid},
        type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
                template.helper("time",function(date){
                    var time=new Date(date).toLocaleString().replace(/:\d{1,2}$/,' ').substr(0,9).replace(/\//g,"-");
                    return time;
                });
              $("#item2>.request").html(template("request",data))
            }
        })
        //学生评价
        $(".write_submit").click(function () {
            location.href='./write_submit.html?id='+teacherid;
        })
        myAjax({url:"/teacher/related/get/Teacher/Evaluate/List",
            data:{teacherid:teacherid,page:1,size:3},
        type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
                template.helper("time",function(date){
                    var time=new Date(date).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,20).replace(/\//g,"-");
                    return time;
                });
                template.helper("str",function(str){
                   return parseInt(str)
                });
              $("#item3>.student_evaluate").html(template("evaluate",data))
            }
        })
    })
</script>
</html>