.layer{
  >header{
    >em{
      top:1%;
    }
  }
}
.mui-bar .mui-title{
  top: 25%;
}
.main{

  padding-top: 1.6rem;
  .z_photo{
    border-bottom: 0.2rem solid #eeeeee;
  }
  >.score, >.origin{
    height: 1rem;
    line-height: 1rem;
    position: relative;
    border-bottom: 1px solid #eeeeee;
  }
  >.score{
    em{
      position: absolute;
      right: 5%;
      top: 10%;
    }
  }
  input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
    border:none;
    text-indent: 1em;
  }
}
#mask{
  width: 100%;
  height: 100%;
  opacity: 0.4; /*°ëÍ¸Ã÷*/
  filter: alpha(opacity=40); /*ie 6°ëÍ¸Ã÷*/
  background-color: black;
  position: fixed;
  z-index:1;
  top: 0;
  left: 0;

  /*display: none;*/
  overflow: hidden;
}
#role_share{
  padding: 0.3rem;
  width: 90%;
  height: auto;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 5%;
  display: none;
  transform: translateY(-50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  >h3{
    font-size: 0.32rem;
    text-align: center;
    height: 1rem;
    line-height: 1rem;

  }
  >p{
    font-size: 0.24rem;
  }
}
.main #choose_share {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 40%;
  display: none;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  background-color: #fff;
  padding-left: 0.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main #choose_share > h3 {
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
  text-align: center;
}
.main #choose_share > ul {
  width: 100%;
}
.main #choose_share > ul > li {
  height: 0.88rem;
  line-height: 0.88rem;
  position: relative;
}
.main #choose_share > ul > li > em {
  width: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-left: 2%;
  display: inline-block;
  margin-right: 0.3rem;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #868686;
}
.main #choose_share > ul > li > span {
  position: absolute;
  margin-left: 1rem;
  width: 70%;
  top: 0%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}